.dashboard-body {
    background-image: url('../../assets/img/dashboard.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.dashboard-content-container {
    position: absolute;
    z-index: 1; /* Asegura que el contenido esté por encima de la imagen */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el contenedor */
    padding: 20px;
}

.welcome-card {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo difuminado */
    padding: 50px;
    border-radius: 10px;
    color: white;
    max-width: 450px;
    width: 100%;
    animation: slideUp 1s ease-out;
}

@keyframes slideUp {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.welcome-heading {
    font-size: 24px; /* Texto más grande */
    margin-bottom: 30px; /* Espacio mayor entre el texto y los botones */
}
