.container {
  margin: 2rem auto;
  text-align: center;
}

.welcome-container {
  padding-top: 2rem; /* solo arriba */
  padding-bottom: 0;
  text-align: center;
  font-weight: bold;
}


.dashboard-body {
  padding-top: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
}

.dashboard-card {
  cursor: pointer;
  transition: transform 0.2s;
}

.dashboard-card:hover {
  transform: translateY(-5px);
}


.dashboard-card .btn {
  background-color: #000000;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.dashboard-card .btn:hover {
  background-color: #074a7c;
}